<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://kit.fontawesome.com/bf312dc673.js" crossorigin="anonymous"></script>
      <!-- Importando css -->
      <link rel="stylesheet" href="../assets/css/style.css">
      <title>Diagramação 2</title>
   </head>
   <body>
        <header>
            <h1 onselectstart="return false">LOREM IPSUM</h1>
            <h3 onselectstart="return false">DESIGN BY DUODOREM</h3>
            <nav>
                <ul>
                    <li class="active"><a>HOMEPAGE</a></li>
                    <li><a>LEFT SIDEBAR</a></li>
                    <li><a>RIGHT SIDEBAR</a></li>
                    <li><a>NO SIDEBAR</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="left">
                <h1>WELCOME TO LOREM IPSUM!</h1>
                <h3>Integer sit amet pede vel arcu aliquet pretium</h3>
                <img src="../assets/images/pic07.jpg" alt="">
                <p>This is <b>Lorem Ipsum,</b> a responsive HTML site template freebie by <u><a href="#">Duororem</a></u>. Released for free under the <u><a href="#">Creative Commons Attribution</a></u> license, so use it for whatever (personal or comercial) - just give us credit! Check out more of our tuff at <u><a href="#">our site</a></u> or follow us on <u><a href="#">Twitter.</a></u>
                </p>
                <p>
                    Sed etiam vestibulum velit, euismod laciniz quam nist id lorem. Quisque erat. Vertibulum peleresque, justa enolis prelium suscipt, justa nulla blandt libers, in blandit augue justo quis nisi. Fusce maltis viverra elit. Fusce quis sorter Caraecituer adipiscing elit. Nam paela aravi, parta eu, lobortis eget lorem ipsum dolor.
                </p>

            </div>
            <div class="right">
                <div class="content">
                    <h2>
                        <p>PELLENTESQUE VULPUTATE</p>
                    </h2>
                    <ul>
                        <span class="date">AUGUST 13, 2002 | (10) COMMENTS</span>
                        <li><img src="../assets/images/pic04.jpg"><span>Nullam nan visi a sem eleifend. Donac mattis libero eget urna. Pellentesque viverna enim</span></li>
                        <hr class="barra">
                        <span class="date">AUGUST 13, 2002 | (10) COMMENTS</span>
                        <li><img src="../assets/images/pic05.jpg"><span>Nullam nan visi a sem eleifend. Donac mattis libero eget urna. Pellentesque viverna enim</span></li>
                        <hr class="barra">
                        <span class="date">AUGUST 13, 2002 | (10) COMMENTS</span>
                        <li><img src="../assets/images/pic06.jpg"><span>Nullam nan visi a sem eleifend. Donac mattis libero eget urna. Pellentesque viverna enim</span></li>
                    </ul>
                </div>
            </div>
        </main>
        <section>
            <ul>
                <li><h3>AENEAN ELEMENTUM FACILISIS</h3><img src="../assets/images/pic01.jpg"><h4>Nulam non visi a sem sempar eleiterd. Donec maitis libero eget urna. Donet leo, vivamus fermentum nbh in augue praesent a lacus at uma congue rutrum. Quisque dictum. PEllentesque viverra vulputate enim.</h4><button>MORE DETAILS</button></li>
                <li><h3>FUSCE ULTRICES FRINGILLA</h3><img src="../assets/images/pic02.jpg"><h4>Nulam non visi a sem sempar eleiterd. Donec maitis libero eget urna. Donet leo, vivamus fermentum nbh in augue praesent a lacus at uma congue rutrum. Quisque dictum. PEllentesque viverra vulputate enim.</h4><button>MORE DETAILS</button></li>
                <li><h3>ETIAM RHONCUS VOLUTPAT ERAT</h3><img src="../assets/images/pic03.jpg"><h4>Nulam non visi a sem sempar eleiterd. Donec maitis libero eget urna. Donet leo, vivamus fermentum nbh in augue praesent a lacus at uma congue rutrum. Quisque dictum. PEllentesque viverra vulputate enim.</h4><button>MORE DETAILS</button></li>
            </ul>
        </section>
        <footer>
            <ul>
                <li><h3>LATEST POSTS</h3><h4>Pellentesque lectus graida bland</h4><hr class="barra2"><h4>Lorem ipsum consecteuer adipiscing</h4><hr class="barra2"><h4>Phasellus nah pelientesque congue</h4><hr class="barra2"><h4>Cras vitae menus aliquam pharetra</h4><hr class="barra2"><h4>Mascenas vitae arci feugiat eleifend</h4></li>
                <li><h3>ULTRICES FINGILLA</h3><h4>Pellentesque lectus graida bland</h4><hr class="barra2"><h4>Lorem ipsum consecteuer adipiscing</h4><hr class="barra2"><h4>Phasellus nah pelientesque congue</h4><hr class="barra2"><h4>Cras vitae menus aliquam pharetra</h4><hr class="barra2"><h4>Mascenas vitae arci feugiat eleifend</h4></li>
                <li><h3 class="last">AENAN ELEMENTUM</h3><h4>Pellentesque lectus graida bland</h4><hr class="barra2"><h4>Lorem ipsum consecteuer adipiscing</h4><hr class="barra2"><h4>Phasellus nah pelientesque congue</h4><hr class="barra2"><h4>Cras vitae menus aliquam pharetra</h4><hr class="barra2"><h4>Mascenas vitae arci feugiat eleifend</h4></li>
            </ul>
        </footer>
   </body>
</html>
